MAINICON ICON "icon.ico"
TEXTURE1 RCDATA "images/pC.png"
TEXTURE2 RCDATA "images/pCWalk.png"
TEXTURE3 RCDATA "images/pCJump.png"
TEXTURE4 RCDATA "images/pCJump2.png"
TEXTURE5 RCDATA "images/background.png"
TEXTURE6 RCDATA "images/pCGun.png"
TEXTURE7 RCDATA "images/pCGun2.png"
TEXTURE8 RCDATA "images/bullet.png"
TEXTURE9 RCDATA "images/zombie.png"
TEXTURE10 RCDATA "images/zombieWalk.png"
SOUND1 RCDATA "sounds/Walking1.wav"
SOUND2 RCDATA "sounds/Walking2.wav"
SOUND3 RCDATA "sounds/Ladder.wav"
SOUND4 RCDATA "sounds/GunShot.wav"
SOUND5 RCDATA "sounds/Enter.wav"
SOUND6 RCDATA "sounds/ZombieShot.wav"
SOUND7 RCDATA "sounds/Damage.wav"
SOUND8 RCDATA "sounds/ZombieGrowl.wav"
SOUNDBG RCDATA "sounds/Song.wav"
SOUNDM RCDATA "sounds/Menu.wav"
FONT1 RCDATA "fonts/8-BIT.ttf"
